.color-primary{
  color: var(--color-primary);
}

.color-warning{
  color:var(--color-warning);
}

.color-info{
  color: var(--gray-3);
}

.color-gray-5{
  color: var(--gray-5);
}

.color-gray-6{
  color: var(--gray-6);
}

.bg-primary{
  background-color: var(--color-primary);
}